*,
*::after,
*::before{
    content: "";
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    transition: background 0.3s ease;
}

.btn{
    /* border-radius: 25%; */
    background-color: black;
    color: #eee;
    padding: 5px 5px ;
}

.btn__color{
    padding-top: 10px;
}